#pink-k {
    color: pink;
}

body {
    background-color: ghostwhite;
    color: #333;
    padding-bottom: 5%; /* just to scroll past Download button*/
}

.container {
    width: 75%;
}

h1, h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

.jumbotron {
    background-color: lightpink;
}

.jumbotron small {
    color: inherit;
}

.table-div, .table-header-div {
    width: 70%;
    margin: auto;
}

.table-header-div .table {
    margin-bottom: 0px;
}

.table-div{
    max-height: 350px;
    overflow: auto;
}

tr td:nth-child(1), tr th:nth-child(1) {
    width: 60%;
}

th {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 115%;
}

td {
    font-weight: bold;
}

.results-header-row th{
    text-align: center;
}

.csv-button, .update-button, .run-button, .download-button {
    background-color: floralwhite;
    margin-left: 3%;
    margin-top: 20px;
}

input, select, .add-row {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px dashed #ddd;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

.dollar-sign, .cents, .btn {
    font-weight: bold
}

select {
    padding-top: 4px;
}

.table-add-row {
    text-align: center;
}

.error-div {
    display: none;
}